@using SignalRCourse.Hubs;
@using SignalRCourse.Repository;

<div class="row">
    <div class="col-sm-3 overflow-auto">
        <div class="container-fluid border">
            
        </div>
    </div>
    <div class="col-sm-9">

    </div>
</div>

