@using SignalRCourse.Authentication;
@using SignalRCourse.Database;
@using SignalRCourse.Model;
@using SignalRCourse.Repository;
@inject IJobToDoRepository _jobtoDO;
@model NotificationModelDto
@{
    var allUsers = new List<User>();
    var currentUser = User;
    if (currentUser.Identity!.IsAuthenticated)
    {
        allUsers.AddRange(await _jobtoDO.GetAllUsers());
    }
}
<div class="text-center">
    <div class="display-5">Create Notification</div>
</div>
<div class="container-fluid mt-2">
    <div class="mt-1 mx-2">
        <div>
            <div class="form-floating mb-3">
                <select id="createNotificationSelect" asp-for="AccountID">
                    @foreach (var item in allUsers)
                    {
                        <option value="@item.AccountID">@item.Name @item.Surname</option>
                    }

                </select>
            </div>
            <div class="form-floating mb-3">
                <input id="createNotificationName" asp-for="Name" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="Name">Title</label>
            </div>
            <div class="form-floating mb-3">
                <input id="createNotificationDesc" asp-for="Description" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="Description">Describtion</label>
            </div>
            <div class="form-floating mb-3">
                <button id="createNotificationSubmit" class="w-100 btn-lg btn-primary" type="submit">Create notification</button>
            </div>
        </div>
    </div>
</div>
