<div class="row">
    <div class="col-sm-6">
        <div class="m-5">
            <a asp-action="register">Register</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="m-5">
            <a asp-action="login">Login</a>
        </div>
    </div>
</div>
